header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 5%; 
    background: #38a149; /* Màu xanh lá KTA */
    color: white; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 60px;
    width: auto;
    display: block;
}

header nav a { 
    color: white; 
    margin-left: 20px; 
    font-weight: bold; 
    transition: 0.3s;
}

header nav a:hover {
    color: #ffeb3b;
}

#cart-count {
    background: #c61d23;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}