.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f4f4f4;
}

.auth-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-box h2 {
    color: #38a149;
    margin-bottom: 25px;
}

.auth-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-auth {
    width: 100%;
    padding: 12px;
    background: #38a149;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn-auth:hover {
    background: #c61d23;
}

.auth-box p {
    margin-top: 20px;
    font-size: 14px;
}

.auth-box a {
    color: #c61d23;
    text-decoration: none;
    font-weight: bold;
}